@import "../glStyle/vars";
@import "../glStyle/templates";

.header {
  background-color: $light-blue-color;
  &__container {
    @extend %default-container;
    .header__nav {
      padding: 10px;
      .header__nav-list {
        display: flex;
        justify-content: space-evenly;
        .header__nav-list-item {
          .header__nav-list-item-btn {
            max-width: 200px;
            width: 100%;
            padding: 15px;
            font-family: $font;
            font-size: 24px;
            line-height: 24px;
            text-align: center;
            color: $light-text-color;
            background-color: $blue-color;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              transform: scale(1.1);
              background-color: $dark-blue-color;
              color: $active-text-color;
            }
          }
        }
      }
    }
  }
}
